---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<h1>Hello, I'm Tobias Zapata <Badge>Available for hire</Badge></h1>
		<p>Welcome to my portfolio website!</p>
		</main>
</Layout>
