---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialsPill from "../components/SocialsPill.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import Github from "../icons/Github.astro";
import Mail from "../icons/Mail.astro";
import CV from "../icons/CV.astro";
---

<Layout>
  <main>
    <section
      class="w-full lg:w-[760px] mx-auto py-44"
    >
      <img
        src="tobicara2.png"
        alt="foto de tobias zapata"
        class="size-16 rounded-full mb-4"
      />
      <h1
        class="text-white text-5xl font-bold flex flex-row pb-4"
      >
        Hola, soy Tobias Zapata
        <a
          href="https://www.linkedin.com/in/tobias-zapata-a50383206/"
          target="_blank"
          class="flex mt-1 ml-2 items-center"
          ><Badge
            >Disponible para trabajar</Badge
          >
        </a>
      </h1>
      <h2 class="text-2xl opacity-80">
        Desarrollador web fullstack.
        Estudiante de programación en
        UTN. +4 años de experiencia
        programando. De Buenos Aires,
        Argentina.
      </h2>
      <nav class="flex gap-x-3 mt-8">
        <SocialsPill
          href="https://www.linkedin.com/in/tobias-zapata-a50383206/"
        >
          <LinkedInIcon /> LinkedIn
        </SocialsPill>
        <SocialsPill
          href="https://github.com/TobiZapata"
        >
          <Github /> GitHub
        </SocialsPill>
        <SocialsPill
          href="mailto:tobiaszapata99@gmail.com"
        >
          <Mail /> tobiaszapata99@gmail.com
        </SocialsPill>
        <SocialsPill
          href="/Tobias_Zapata_CV.pdf"
        >
          <CV /> Descargar CV
        </SocialsPill>
      </nav>
    </section>
  </main>
</Layout>
