---
import ProjectCard from "./ProjectCard.astro";
---

<section
  class="grid grid-cols-2 gap-2 max-w-[760px] mx-auto grid-flow-row-dense"
>
  <ProjectCard
    image="image.webp"
    title="VocesQueViajan"
    description="Proyecto para un programa de radio real, el cliente puede subir, borrar o modificar los videos, títulos y descripciones habiéndose registrado con su mail de administrador."
    technologies="Node.js, Next.js, Firebase, FirebaseAuth, Vercel, Tailwind."
    link="https://voces-que-viajan-1.vercel.app/"
  />
  <ProjectCard
    image="image2.webp"
    title="Henry's Gym"
    description="Proyecto final de un bootcamp de programación, hecho en conjunto con otros 5 programadores. El cliente puede comprar membresias, reservar clases y armar sus propias rutinas de ejercicios."
    technologies="React, Express, PostgreSQL."
    link="https://henrygym.onrender.com/"
  />
  <ProjectCard
    image="image.webp"
    title="VocesQueViajan"
    description="Proyecto para un programa de radio real, el cliente puede subir, borrar o modificar los videos, títulos y descripciones habiéndose registrado con su mail de administrador."
    technologies="Node.js, Next.js, Firebase, FirebaseAuth, Vercel, Tailwind."
    link="https://voces-que-viajan-1.vercel.app/"
  />
  <ProjectCard
    image="image.webp"
    title="VocesQueViajan"
    description="Proyecto para un programa de radio real, el cliente puede subir, borrar o modificar los videos, títulos y descripciones habiéndose registrado con su mail de administrador."
    technologies="Node.js, Next.js, Firebase, FirebaseAuth, Vercel, Tailwind."
    link="https://voces-que-viajan-1.vercel.app/"
  />
</section>
