---
import ProjectCards from "./ProjectCards.astro";
---

<section
  class="flex flex-col max-w-[760px] mx-auto gap-y-10"
>
  <ProjectCards
    image="image.webp"
    title="VocesQueViajan"
    description="Proyecto para un programa de radio real, el cliente puede subir, borrar o modificar los videos, títulos y descripciones habiéndose registrado con su mail de administrador."
    technologies={[
      "Next",
      "Tailwind",
      "Firebase",
      "Vercel",
    ]}
    link="https://voces-que-viajan-1.vercel.app/"
  />
  <ProjectCards
    image="image2.webp"
    title="Henry's Gym"
    description="Proyecto final del bootcamp de Full Stack Web Development de Henry"
    technologies={[
      "Next",
      "Tailwind",
      "Vercel",
    ]}
    link="https://henrygym.onrender.com/"
  />
</section>
