

<header class="flex justify-around items-center p-4 bg-gray-600 text-white">
  <img src="tobicara2.jpeg" alt="Logo" class="size-22 rounded-full"/>
  
  <nav>
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:underline">Home</a></li>
      <li><a href="/about" class="hover:underline">About</a></li>
      <li><a href="/projects" class="hover:underline">Projects</a></li>
      <li><a href="/contact" class="hover:underline">Contact</a></li>
    </ul>
  </nav>
</header>